<nav class="nav nav-pills nav-fill nav_bar bg-success">
    <a class="nav-item nav-link nav_el" href="/auth/profile">HOME</a>
    <a class="nav-item nav-link nav_el" href="/auth/logout">LOGOUT</a>
</nav>