<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{>navbar}}
        </div>
    </div>
        <div class="row mainpage">
            <div class="col-md-3 options">

            </div>

            <div class="col-md-6 feed">


            </div>

            <div class="col-md-3 chat">

            </div>
        </div>
</div>


