<div class="container-fluid profile_page">
    <div class="row">
        <div class="col-md-3" >
            {{>menu}}
        </div>
        <div class="col-md-9 feed">

            <form class="row" method="post" action="#">

                <div class="form-group col-md-7">
                <textarea class="form-control"placeholder="share a pixta..." rows="4"></textarea>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-dark btn-lg">POST</button>
                </div>

            </form>
                <div class="row">
                    <div class="col-md-7" id="pixtafeeds">

                        <!--here all the pixta feeds will come-->

                    </div>
                </div>

        </div>
    </div>

</div>
