.home{
    position:fixed;
    background: url("/assets/images/home.jpg");
    height:100%;
    width:100%;
    margin:0;
    padding:0 !important;
}
#signin {
    width: 100%;
    height:60px;
    background: #1d2124 ;
    padding:10px;
    box-shadow: 8px 3px 3px black;
    opacity: 0.96;
}
#signin:hover{opacity: 1;}
#signup:hover{opacity: 1;}
.f_g{
    display: inline-block;
}
#signup{
    width:482px;
    height:480px;
    margin:50px 10px;
    background: #1d2124;
    border: solid black 2px;
    box-shadow: 3px 3px 3px black;
    padding:35px;
    border-radius: 10px;
    opacity: 0.96;
}
.mainpage{
    margin-top:75px;
}
.options{
    height:580px;
    background: green;
}
.feed{
    height:10000px;
    background: blue;
}
.chat{
    height:580px;
    background:red;
}
label{
    font-weight: bold;
    color: white;
}